<!DOCTYPE html>
<html ng-app='subjectivityApp'>
  <head>
    <meta charset="utf-8" />
    <title>Subjectivity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

  </head>
  <body ng-controller="userResponseCtrl">
  <div>
        <h1 class="text-center">Subjectivity <span><img src = https://s-media-cache-ak0.pinimg.com/originals/cc/68/05/cc68058cb8fcf470348ad9a6571e2f1a.gif height="48px"><span></h1>
  </div>
  <br>

  <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="#/">Subjectivity Sign In<xss</a>
    <ul class="nav navbar-nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/analytics">Analytics</a>
      </li>
      <li class="active">
        <a href="/signIn">Sign In</a>
      </li>
      <li >
        <a href="/signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="text-center">
    <h4>Welcome to the Subjectivity Sign In page! We are glad that you are back :)!</h4>

  <div id='signup' class="text-center">
  <h1>Sign In</h1>
  <form  name="signupForm" ng-submit='signup()'>
    Username:
    <input type='text' ng-model='user.username' class="text-center"><br><br>
    Password:
    <input type="password" ng-model='user.password'>
    <button>signup</button>
  </form><br>
  <a href="/signup">Don't have an account?? <strong> Here is our Signup page</strong> ...</a>
</div>
  </div>
  <br><br><br>
  <div class="text-center">
    <img src=https://s-media-cache-ak0.pinimg.com/originals/ca/42/11/ca42113dd51c0f9f7d9dafaa4942b22d.jpg height="500"><
  </div>

 </body>

    <script src="node_modules/angular/angular.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="app/app.js"></script>
 <script>

 </script>
</html>







