<!DOCTYPE html>
<html ng-app='subjectivityApp'>
  <div class="text-center">
    <h4>Welcome to the Subjectivity Sign In page! We are glad that you are back :)!</h4>
  <div id='signup' class="text-center">
  <h1>Sign In</h1>
  <form  name="signupForm" ng-submit='signup()'>
    Username:
    <input type='text' ng-model='user.username' class="text-center"><br><br>
    Password:
    <input type="password" ng-model='user.password'>
    <button>signup</button>
  </form><br>
  <a href="/signup">Don't have an account?? <strong> Here is our Signup page</strong> ...</a>
</div>
  </div>
  <br><br><br>
  <div class="text-center">
    <img src=https://s-media-cache-ak0.pinimg.com/originals/ca/42/11/ca42113dd51c0f9f7d9dafaa4942b22d.jpg height="500"><
  </div>
</html>







